{% extends "main/base.html" %}
{% load static %}

  {% block extend_head %}
    <title>Simple Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80vh;  // do not use Google's suggested height of 100%, map won't display
      }

    </style>

    {% endblock %}

    {% block content %}

      <div class="container">
        <div id="map"></div>

        <script type="text/javascript">
            // these javascript variables must be defined here in this template
            // so the variables from the view functions can be used
            var latitude = {{lat_coord|safe}};
            var longitude = {{lng_coord|safe}};
        </script>
        <script src="{% static 'map/js/map.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key|safe }}&callback=initMap"
        async defer></script>

      </div>


  {% endblock %}
